<h1 id="main-title" class="container"><%= message %></h1>
<form action="<%= action %>">
    <input type="hidden" name="email" value="<%= email %>" />
    <input type="hidden" name="key" value="<%= key %>" />
    <input type="password" name="password" value="" />
    <input type="password" name="confirm_password" value="" />
    <input type="submit" value="Recover" />
</form>